/* reset */
*{box-sizing:border-box;}
html,body{width:100%;height:100%;font-size:62.5%;font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal}
a{text-decoration:none;outline:none;color:inherit}
a:hover,a:visited,a:active,a:link{text-decoration:none}
ul,li{list-style:none;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,select,textarea{outline:none}

input[type="text"],input[type="tel"],input[type="date"], input.localDateTime, input[type="button"]{-webkit-appearance:none;background:none}
input[type="date"].emptyDate:before, input.localDateTime.emptyDate:before{ content: attr(placeholder);color:#c6c6c6;}


.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.view-frame.ng-enter {
    left: 100%;
}

.view-frame.ng-enter {
    -webkit-animation: 0.2s moveIn;
    -moz-animation: 0.2s moveIn;
    -o-animation: 0.2s moveIn;
    animation: 0.2s moveIn;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.2s fade-out;
    -moz-animation: 0.2s fade-out;
    -o-animation: 0.2s fade-out;
    animation: 0.2s fade-out;
    z-index:99;
}

@keyframes moveIn {
    from { left: 100%; }
    to { left: 0; }
}
@-moz-keyframes moveIn {
    from { left: 100%; }
    to { left: 0; }
}
@-webkit-keyframes moveIn {
    from { left: 100%; }
    to { left: 0; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

#container{width:100%;height:100%;overflow:hidden;position:relative;}
/* don't forget about the vendor-prefixes! */
#admin{padding:1rem 2rem 0;height:100%;overflow:hidden;overflow-y:scroll;}
#admin ul, #admin ul li{width:100%;}
#admin ul{border:1px solid #ccc;border-bottom:0 none;margin-bottom: 1rem;}
#admin ul li{min-height:30px;font-size:1.4rem;}
#admin ul li span{width:50%;height:30px;line-height:30px;float:left;display:inline-block;font-size:1.4rem;text-indent:1rem;}
#admin ul li span:first-child{border-right:1px solid #ccc;}
#admin ul li{border-bottom:1px solid #ccc;}

#login{background: url(../images/loginBg.jpg) no-repeat;width:100%;height:100%;background-size:100%;position:relative;}
#loginArea{position:absolute;width:80%;padding:2rem 0;left:50%;top:20%;margin-left:-40%;border:1px solid #ccc;background:rgba(255,255,255,0.3);}
#loginArea .logo{width:70%;display:block;margin:0 auto;}
#loginArea .inputArea{width:100%;margin-top: 1rem;padding-top:1.5rem;border-top:1px solid #ccc;}
#login input{width:70%;display:block;margin:0 auto 1.5rem;height:40px;border:1px solid #ccc;font-size:1.6rem;text-align:center;border-radius:10px;color:#fff;background:rgba(0,0,0,0.3);}
#login .btnArea{border-top:1px solid #ccc;padding:1.5rem 0 0}
#login .submit{width:80%;margin:0 auto;display:block;height:40px;background:#fff;color:#002f62;border-radius:5px;text-align:center;line-height:40px;font-size:1.6rem;}


#product{background:url(../images/productsBg.jpg) no-repeat;padding-top:3rem;width:100%;height:100%;background-size:100%;position:relative;overflow:hidden;overflow-y:scroll;}
.roomConfig{width:90%;margin:0 auto 1rem;font-size:1.4rem;}
.roomConfig .roomConfigHeader{background:url(../images/roomConfigHeader.png) no-repeat;background-size:100%;width:100%;display:block;color:#fff;text-align:center;padding:0.5rem 0 0;}
.roomConfig .roomConfigFooter{background:url(../images/roomConfigFooter.png) no-repeat;background-size:100%;width:100%;display:block;height:20px;}
.roomConfig ul{background:url(../images/roomConfigRepeat.png) repeat-y;padding:1.5rem 1.5rem 0;background-size:100%;width:100%;display:block;}
.roomConfig ul li{width:100%;overflow:hidden;height:50px;}
.roomConfig ul li:last-child{margin-bottom:0;}
.roomConfig ul li .roomName{width:75px;height:30px;line-height:30px;margin-right:2rem;background:#fff;border-radius:10px;float:left;display:inline-block;padding-left:1.5rem;}
.roomConfig ul li .remain{width:60px;height:30px;line-height:30px;float:left;display:inline-block;color:#fff;}
.roomConfig ul li .numSet{width:120px;float:right;display:inline-block;text-align:right;}
.roomConfig ul li .numSet input{background:#fff;width:40px;height:30px;text-align:center;color:#000;border:1px solid #fff;font-size:1.6rem;}
.roomConfig ul li .numSet a{background:#fff;width:30px;height:30px;line-height:30px;text-align:center;display:inline-block;color:#000;font-size:1.6rem;border-radius:5px;} 
.jiange{width:50%;display:block;margin:0 auto 1rem;}
#product .submit{width:90%;margin:0 auto 1rem;position:relative;display:block;text-align:center;}
#product .submit img{width:100%;}
#product .submit span{position:absolute;width:50px;height:30px;line-height:30px;display:block;top:50%;left:50%;margin:-15px 0 0 -25px;font-size:1.6rem;color:#5f3e20;}
#product .location{background:url(../images/location.png) no-repeat;position:absolute;color:#999;right:2rem;top:1rem;font-size:1.6rem;height:25px;line-height:25px;background-size:auto 100%;text-indent:1.8rem;font-weight:bold;}
.popWin{background:rgba(0,0,0,0.5);width:100%;height:100%;position:fixed;top:0;left:0;}
.popWin .popWinMain{background:#fff;border-radius:5px;border:1px solid #ccc;width:70%;position:fixed;left:50%;margin-left:-35%;top:30%;overflow:hidden;}
.popWin .popWinMain .title{font-size:1.6rem;color:#999;height:40px;line-height:40px;text-indent:1rem;border-bottom:1px solid #ccc;}
.popWin .popWinMain .main{overflow:hidden;overflow-y:scroll;max-height:200px;min-height:120px;}
.popWin .popWinMain .main li{border-bottom:1px solid #ccc;color:#000;height:40px;line-height:40px;font-size:1.6rem;text-indent:1rem;}
.popWin .popWinMain .main li:last-child{border-bottom:0 none;}
.popWin .popWinMain .popWinContral{border-top:1px solid #ccc;}
.popWin .popWinContral a{height:40px;line-height:40px;width:50%;display:inline-block;float:left;text-align:center;font-size:1.6rem;}
.popWin .popWinContral a:first-child{border-right:1px solid #ccc;}