<div id="admin">
    <ul>
    	<li>
    		<span>房型</span>
    		<span>数量</span>
    	</li>
    	<li ng-repeat="item in roomConfig" ng-hide="item.total == 0">
    		<span>{{item.name}} {{item.type}}人间</span>
    		<span>{{item.remain}} / {{item.total}}</span>
    	</li>
    </ul>
    <ul>
        <li ng-repeat="item in orderLogList">
            {{item.city}} {{item.time}}<br />
            预订{{item.name}} {{item.type}}人间
            <span class="orderNum">{{item.order}}间</span>
        </li>
    </ul>
</div>